body{
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-content:center;
}

h3{
    color: white;
    font-family: "Segoe UI", sans-serif;
}

.mainbutton{
    background-color: #2E94E3;
    font-family: "Segoe UI", sans-serif;
    padding: 5px 10px;
    font-size: 10px;
    width: 50px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom:10px;
}

.video1{
    width: 70%;
}
