html, body {
    width: 90%;
    font-family: "Segoe UI", sans-serif;
    background-color: black;
}

.mainbutton{
    background-color: #2E94E3;
    position: absolute;
    font-family: "Segoe UI", sans-serif;
    padding: 5px 10px;
    font-size: 10px;
    width: 50px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

h1{
    color: white;
}
.container {
    width: 80%;
    border-style: solid;
    border-color: #2E94E3;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}

#inputField {
    width: 60%;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    color: black
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.to-dos {
    margin-top: 25px;
    color: white;
}
